<ul class="sidebar-wrapper ul-reset">
    <li style="list-style-type: none;">
        <h3>Đội ngũ nhân sự</h3>
        <img src="~/Resources/Images/thietke3.jpg"
             class="img-response" alt="" />
    </li>
    <li style="list-style-type: none;">
        <h3>Mẫu nhà phố đẹp</h3>
        <img src="~/Resources/Images/thietke3.jpg"
             class="img-response" alt="" />
    </li>
    <li style="list-style-type: none;">
        <h3>Bài viết mới</h3>
        <ul class="m-0 p-0">
            @Html.Partial("~/Views/Shared/Navigator/_PartialRightNavBlogItem.cshtml")
            @Html.Partial("~/Views/Shared/Navigator/_PartialRightNavBlogItem.cshtml")
            @Html.Partial("~/Views/Shared/Navigator/_PartialRightNavBlogItem.cshtml")
            @Html.Partial("~/Views/Shared/Navigator/_PartialRightNavBlogItem.cshtml")
        </ul>
    </li>
</ul>
