<div class="row" style="background-color: #E7E7E7 ">
    <div class="col-2"></div>
    <div class="col-2 mt-3" style="border-color: white; border-right-style: solid;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="height: 115px; width: 115px; background-color: darkgreen; border-radius: 50%; display: inline-flex; align-self: center ">
                <img style="height: 83px; width: 83px; display: inline-flex; align-self: center "
                     src="https://localhost:11113/Resources/Images/icon1.png"
                     class="ms-3"
                     data-src="https://localhost:11113/Resources/Images/icon1.png" alt="">
            </div>
        </div>
        <div class="mt-3">
            <h3 style="text-align: center;font-size:20px">ĐƠN GIÁ XÂY DỰNG NHÀ PHẦN THÔ MỚI NHẤT TPHCM</h3>
            <div class="bg_mota">
                <p style="text-align: center;">Miễn phí&nbsp;chi phí thiết kế+ giấy phép xây dựng</p>
            </div>
        </div>
    </div>

    <div class="col-2 mt-3" style="border-color: white; border-right-style: solid;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="height: 115px; width: 115px; background-color: darkgreen; border-radius: 50%; display: inline-flex; align-self: center ">
                <img style="height: 83px; width: 83px; display: inline-flex; align-self: center "
                     src="https://localhost:11113/Resources/Images/icon2.png"
                     class="ms-3"
                     data-src="https://localhost:11113/Resources/Images/icon2.png" alt="">
            </div>
        </div>
        <div class="mt-3">
            <h3 style="text-align: center;font-size:20px">ĐƠN GIÁ XÂY DỰNG NHÀ PHẦN THÔ MỚI NHẤT TPHCM</h3>
            <div class="bg_mota">
                <p style="text-align: center;">Miễn phí&nbsp;chi phí thiết kế+ giấy phép xây dựng</p>
            </div>
        </div>
    </div>

    <div class="col-2 mt-3" style="border-color: white; border-right-style: solid;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="height: 115px; width: 115px; background-color: darkgreen; border-radius: 50%; display: inline-flex; align-self: center ">
                <img style="height: 83px; width: 83px; display: inline-flex; align-self: center "
                     src="https://localhost:11113/Resources/Images/icon3.png"
                     class="ms-3"
                     data-src="https://localhost:11113/Resources/Images/icon3.png" alt="">
            </div>
        </div>
        <div class="mt-3">
            <h3 style="text-align: center;font-size:20px">ĐƠN GIÁ XÂY DỰNG NHÀ PHẦN THÔ MỚI NHẤT TPHCM</h3>
            <div class="bg_mota">
                <p style="text-align: center;">Miễn phí&nbsp;chi phí thiết kế+ giấy phép xây dựng</p>
            </div>
        </div>
    </div>

    <div class="col-2 mt-3" style="border-color: white; border-right-style: solid;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="height: 115px; width: 115px; background-color: darkgreen; border-radius: 50%; display: inline-flex; align-self: center ">
                <img style="height: 83px; width: 83px; display: inline-flex; align-self: center "
                     src="https://localhost:11113/Resources/Images/icon4.png"
                     class="ms-3"
                     data-src="https://localhost:11113/Resources/Images/icon4.png" alt="">
            </div>
        </div>
        <div class="mt-3">
            <h3 style="text-align: center;font-size:20px">ĐƠN GIÁ XÂY DỰNG NHÀ PHẦN THÔ MỚI NHẤT TPHCM</h3>
            <div class="bg_mota">
                <p style="text-align: center;">Miễn phí&nbsp;chi phí thiết kế+ giấy phép xây dựng</p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
