<ul class="sidebar-wrapper ul-reset">
    <li style="list-style-type: none;" id="media_image-2" class="widget widget_media_image">
        <span class="widget-title ">
            <span>Đội ngũ nhân sự</span>
        </span><div class="is-divider small"></div>
        <img width="300" height="300" src="~/Resources/Images/demo-image.jpg"
             class="image wp-image-361 attachment-medium size-medium lazy-load-active"
             alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;"
    </li>
    <li style="list-style-type: none;" id="media_image-2" class="widget widget_media_image">
        <span class="widget-title ">
            <span>
                Mẫu nhà phố đẹp
            </span>
        </span><div class="is-divider small"></div>
        <img width="300" height="300" src="~/Resources/Images/demo-image.jpg"
             class="image wp-image-361 attachment-medium size-medium lazy-load-active"
             alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;"
    </li>
    <li style="list-style-type: none;"
        <span class="widget-title "><span>Bài viết mới</span></span>
                <div class="is-divider small"></div>
                <ul class="m-0 p-0">
                    <li style="list-style-type: none;">
                        <div class="row">
                            <div class="col-2">
                                <img src="~/Resources/Images/demo-image.jpg" style="width:50px;height:50px;" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/" title="Trang trí nhà hợp phong thủy cho người mệnh Kim">Trang trí nhà hợp phong thủy cho người mệnh Kim</a>
                                <span class="post_comments op-7 block is-xsmall"><a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/#respond"></a></span>
                            </div>
                        </div>
                    </li>
                    <li style="list-style-type: none;">
                        <div class="row">
                            <div class="col-2">
                                <img src="~/Resources/Images/demo-image.jpg" style="width:50px;height:50px;" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/" title="Trang trí nhà hợp phong thủy cho người mệnh Kim">Trang trí nhà hợp phong thủy cho người mệnh Kim</a>
                                <span class="post_comments op-7 block is-xsmall"><a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/#respond"></a></span>
                            </div>
                        </div>
                    </li>
                    <li style="list-style-type: none;">
                        <div class="row">
                            <div class="col-2">
                                <img src="~/Resources/Images/demo-image.jpg" style="width:50px;height:50px;" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/" title="Trang trí nhà hợp phong thủy cho người mệnh Kim">Trang trí nhà hợp phong thủy cho người mệnh Kim</a>
                                <span class="post_comments op-7 block is-xsmall"><a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/#respond"></a></span>
                            </div>
                        </div>
                    </li>
                </ul>
    </li>
</ul>
