<div class="flickity-viewport" style="height: 97.7625px; touch-action: pan-y;">
    <div class="flickity-slider" style="left: 0px; transform: translateX(-133.33%);">
        <div class="gallery-col col is-selected" style="position: absolute; left: 133.33%;">
            <div class="col-inner">
                <a class="image-lightbox lightbox-gallery"
                   href="/Home/Index" title="">
                    <div class="box has-hover gallery-box box-normal">
                        <div class="box-image">
                            <img width="135" height="80"
                                 src="~/Resources/Images/demo1.jpg"
                                 class="attachment-medium size-medium" alt="" loading="lazy"
                                 type="slider" col_spacing="large" columns="6" slider_nav_style="simple"
                                 slider_bullets="true">
                        </div>
                        <div class="box-text text-left">
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
