<footer id="footer" class="footer-wrapper  bg-opacity-10 bg-black pt-4">
    <section class="section footer-section dark row">
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-3">
            <a class="navbar-brand poiter" href="/Home/Index">
                <img style="height:auto;width:200px;"
                     src="~/Resources/Logo/TPL-logo.png" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <div class="container section-title-container"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main">Thông tin công ty</span><b></b></h3></div>
            <h3>DỊCH VỤ XÂY DỰNG TƯỜNG VY</h3>
            <ul>
                <li><span style="font-size: 100%;">Địa chỉ: 33, 30 Phan Văn Hớn, Tân Thới Nhất, Quận 12, Hồ Chí Minh</span></li>
                <li><span style="font-size: 100%;">Hotline: 0813 88 22 33</span></li>
                <li><span style="font-size: 100%;">Fanpage: <a href="https://www.facebook.com/xaydungthangloivsc">Xây dựng Tường Vy</a></span></li>
            </ul>
        </div>
    </section>
    <div class="absolute-footer dark medium-text-center text-center">
        <div class="container clearfix">
            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    Copyright® 2020 XÂY DỰNG TƯỜNG VY . All rights reserved.
                </div>
            </div>
        </div>
    </div>
    <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle active" id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>
</footer>