<a href="/Home/Blog" class="plain">
    <div class="box box-normal box-text-bottom box-blog-post has-hover">
        <div class="box-image">
            <div class="image-overlay-add image-zoom image-cover">
                <img style="width:306px;height:420px;"
                     src="https://localhost:11113/Resources/Images/thietke1.jpg"
                     data-src="https://localhost:11113/Resources/Images/thietke1.jpg"
                     class="attachment-original size-original wp-post-image lazy-load-active"
                     alt="" decoding="async" loading="lazy">  							
                <div class="overlay" style="background-color: rgba(0, 76, 0, 0.34)"></div>
            </div>
        </div>
        <div class="box-text text-left">
            <div class="box-text-inner blog-post-inner">
                <h5 class="post-title is-large ">Mẫu thiết kế nhà chú phương quận gò vấp</h5>
                <div class="is-divider"></div>
                <p class="from_the_blog_excerpt ">Mẫu nhà phố 1 trệt lửng 2 lầu + tum che cấu thang Quý vị xem tham khảo mẫu nội thất, để có thể...					</p>
            </div>
        </div>
    </div>
</a>
