<a href="/Home/Blog" title="demo">
    <div class="hover-zoom-1 hover-wave-1 hover-opacity-1 hover-bg-1">
        <figure data-figure="wave" data-bg="bg">
            <img src="~/Resources/Images/thietke1.jpg"
                 data-src="~/Resources/Images/thietke1.jpg"
                 class=" img-response" data-image="zoom"
                 alt="No Image Found" decoding="async" loading="lazy">
        </figure>
        <div class="">
            <h5 class="">Mẫu thiết kế nhà chú phương quận gò vấp</h5>
            <p class="">Mẫu nhà phố 1 trệt lửng 2 lầu + tum che cấu thang Quý vị xem tham khảo mẫu nội thất, để có thể...</p>
        </div>
    </div>
</a>
