<h2  style="display: flex; justify-content: center; align-items: center;" class="mt-5">THIẾT KẾ CÔNG TRÌNH</h2>
<hr />
<div class="row">
    <div class="col-3">
        @Html.Partial("~/Views/Shared/Blog/_PartialNewestBlogItem.cshtml")
    </div>
    <div class="col-3">
        @Html.Partial("~/Views/Shared/Blog/_PartialNewestBlogItem.cshtml")
    </div>
    <div class="col-3">
        @Html.Partial("~/Views/Shared/Blog/_PartialNewestBlogItem.cshtml")
    </div>
    <div class="col-3">
        @Html.Partial("~/Views/Shared/Blog/_PartialNewestBlogItem.cshtml")
    </div>
</div>
