<div id="contructorSlider" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner rounded-5 shadow-4-strong">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-3">
                    <a href="/Home/Blog" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-overlay-add image-zoom image-cover">
                                    <img style="width:306px;height:420px;"
                                         src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         data-src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         class="attachment-original size-original wp-post-image lazy-load-active"
                                         alt="" decoding="async" loading="lazy">
                                    <div class="overlay" style="background-color: rgba(0, 76, 0, 0.34)"></div>
                                </div>
                            </div>
                            <div class="box-text text-left">
                                <div class="box-text-inner blog-post-inner">
                                    <h5 class="post-title is-large ">Mẫu thiết kế nhà chú phương quận gò vấp</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">Mẫu nhà phố 1 trệt lửng 2 lầu + tum che cấu thang Quý vị xem tham khảo mẫu nội thất, để có thể...					</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="/Home/Blog" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-overlay-add image-zoom image-cover">
                                    <img style="width:306px;height:420px;"
                                         src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         data-src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         class="attachment-original size-original wp-post-image lazy-load-active"
                                         alt="" decoding="async" loading="lazy">
                                    <div class="overlay" style="background-color: rgba(0, 76, 0, 0.34)"></div>
                                </div>
                            </div>
                            <div class="box-text text-left">
                                <div class="box-text-inner blog-post-inner">
                                    <h5 class="post-title is-large ">Mẫu thiết kế nhà chú phương quận gò vấp</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">Mẫu nhà phố 1 trệt lửng 2 lầu + tum che cấu thang Quý vị xem tham khảo mẫu nội thất, để có thể...					</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="/Home/Blog" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-overlay-add image-zoom image-cover">
                                    <img style="width:306px;height:420px;"
                                         src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         data-src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         class="attachment-original size-original wp-post-image lazy-load-active"
                                         alt="" decoding="async" loading="lazy">
                                    <div class="overlay" style="background-color: rgba(0, 76, 0, 0.34)"></div>
                                </div>
                            </div>
                            <div class="box-text text-left">
                                <div class="box-text-inner blog-post-inner">
                                    <h5 class="post-title is-large ">Mẫu thiết kế nhà chú phương quận gò vấp</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">Mẫu nhà phố 1 trệt lửng 2 lầu + tum che cấu thang Quý vị xem tham khảo mẫu nội thất, để có thể...					</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="/Home/Blog" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-overlay-add image-zoom image-cover">
                                    <img style="width:306px;height:420px;"
                                         src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         data-src="https://localhost:11113/Resources/Images/thietke2.jpg"
                                         class="attachment-original size-original wp-post-image lazy-load-active"
                                         alt="" decoding="async" loading="lazy">
                                    <div class="overlay" style="background-color: rgba(0, 76, 0, 0.34)"></div>
                                </div>
                            </div>
                            <div class="box-text text-left">
                                <div class="box-text-inner blog-post-inner">
                                    <h5 class="post-title is-large ">Mẫu thiết kế nhà chú phương quận gò vấp</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">Mẫu nhà phố 1 trệt lửng 2 lầu + tum che cấu thang Quý vị xem tham khảo mẫu nội thất, để có thể...					</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/Blog/_PartialContructionItem.cshtml")
        @Html.Partial("~/Views/Shared/Blog/_PartialContructionItem.cshtml")
    </div>
    <!-- Inner -->
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#contructorSlider" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#contructorSlider" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
