@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="row">
        <div class="col-8">
            <div class="page-inner">
                <header class="entry-header">
                    <h1 class="entry-title mb uppercase">Giới thiệu</h1>
                </header>

                <p>Xin chào bạn – độc giả của&nbsp;<a href="https://giuseart.com/">Giuseart.com</a>,</p>
                <p>Lời đầu tiên, cho phép GiuseArt được gửi tới quý khách, quý thân nhân và bạn bè lời chúc sức khỏe, thành đạt và hạnh phúc.</p>
                <p><a href="http://giuseart.com/">Giuseart.com</a>&nbsp;được thành lập tháng 11/2016 dưới dạng Blog cá nhân, với mục đích ban đầu là nơi&nbsp;lưu trữ những&nbsp;<strong>bài viết kiến thức</strong>&nbsp;hoặc những<strong>&nbsp;sản phẩm sáng tạo</strong>&nbsp;trong quá trình học tập,&nbsp;làm việc.</p>
                <p>Sau một thời gian hoạt động, website đã có những bước tiến đáng kể cả về chất lượng và hình thức. Số lượng khách truy cập website&nbsp;trở thành khách hàng sử dụng dịch vụ thiết kế tăng lên đáng kể. Từ việc chăm chút nội dung cho website theo sở thích, GiuseArt&nbsp;đã dần chinh phục khách hàng với những dịch vụ thiết kế sáng tạo uy tín và chất lượng.</p>
                <p>Tự tin với khả năng đáp ứng mọi yêu cầu thiết kế của khách hàng, GiuseArt chính thức đem lại dịch vụ&nbsp;<strong>Thiết kế đồ họa</strong>&nbsp;và&nbsp;<strong>Thiết kế Website chuyên nghiệp&nbsp;</strong>từ đầu năm 2017.<strong>&nbsp;</strong>Sự ủng hộ và tin tưởng của khách hàng sẽ&nbsp;trở thành nguồn cảm hứng&nbsp;lớn lao cho GiuseArt&nbsp;trong quá trình&nbsp;phác họa những ý tưởng thiết kế được trở thành hiện thực.</p>
                <p>Xin cám ơn sự tin tưởng và ủng hộ của quý khách trong thời gian qua.</p>
                <p>Trân trọng./.</p>
                <p>Admin</p>
            </div>
        </div>
        <div class="col-4">
            @Html.Partial("~/Views/Shared/Navigator/_PartialRightNav.cshtml")
        </div>
    </div>
</main>