@{
    ViewBag.Title = "Blog";
}
<div class="container body-content">
    <div class="row" style="margin-top:100px;">
        <div class="col-8">
            <article id="post-248" class="post-248 post type-post status-publish format-standard has-post-thumbnail hentry category-phong-thuy">
                <div class="article-inner ">
                    <header class="entry-header">
                        <div class="entry-header-text entry-header-text-top text-left">
                            <h6 class="entry-category is-xsmall">
                                <a href="http://thietke2.giaodienwebmau.com/phong-thuy/" 
                                   rel="category tag">Phong thủy</a>
                            </h6>
                            <h1 class="entry-title">Sửa chữa nhà theo phong thủy giúp gia chủ gặp nhiều may mắn</h1>
                            <div class="entry-divider is-divider small"></div>

                        </div>
                    </header>
                    <div class="entry-content single-page">
                        <p>Yêu tố phong thủy là một yếu tố khá quan trọng trong việc tư vấn thiết kế, thi công&nbsp;<strong>sửa chữa nhà</strong>. Để cho mọi việc luôn được suôn sẻ, mang lại cho gia đình gia chủ sức khỏe dồi dào và thu hút tài lộc vào nhà.&nbsp;<strong>Các&nbsp;<a href="https://xaydungsaoviet.com.vn/">công ty xây dựng</a></strong>&nbsp;đều cực kì quan tâm đến vấn đề phong thủy, trong đó 3 khu vực đặc biệt cần cân nhắc và tuân thủ phong thủy là cửa chính, phòng ngủ và nhà bếp.</p>
                        <p>
                            <img decoding="async" class="size-full wp-image-2045 aligncenter lazy-load-active"
                                 src="~/Resources/Images/thietke3.jpg"
                                 style="width: 100%; height: auto;"
                                 data-src="~/Resources/Images/thietke3.jpg" alt=""><br>
                            <em>Những vấn đề về phong thủy bạn cần tham khảo trước khi xây nhà</em>
                        </p>
                        <p>Trong một ngôi nhà nếu phong thủy của 3 khu vực này tốt thì mới có thể thu hút được năng lượng tích cực cho toàn bộ căn nhà của bạn và mang đến nhiều cơ hội hơn cho chủ sở hữu. Ngược lại nếu, bạn không quan tâm hay phong thủy chỉ ở mức trung bình hoặc có năng lượng tiêu cực thì điều đó sẽ tạo ra những cản trở trong cuộc sống của gia đình.</p>
                        <p>Cửa chính</p>
                        <p>
                            <img decoding="async" loading="lazy" class="size-full wp-image-2047 aligncenter lazy-load-active"
                                 src="~/Resources/Images/thietke3.jpg"
                                 style="width: 100%; height: auto;"
                                 data-src="~/Resources/Images/thietke3.jpg" alt="">
                        </p>
                        <p><em>Sửa nhà theo phong thủy cửa chính để hút tiền bạc</em></p>
                        <p>Cửa chính cũng như miệng của ngôi nhà, vì thế khi&nbsp;<strong>xây nhà trọn gói</strong>&nbsp;bạn phải đảm bảo rằng không có bất cứ tắc nghẽn hay trở ngại nào ngăn chặn dòng chảy tích cực hướng vào bên trong nhà. Ngoài ra, bạn cũng cần loại bỏ những năng lượng xấu có thể ảnh hưởng không tốt cho gia đình như có một góc cạnh của tường hoặc góc của một ngôi nhà nào đó đang trổ thẳng vào hướn cửa chính của ngôi nhà.</p>
                        <p>Phòng ngủ</p>
                        <p>
                            <img decoding="async" loading="lazy" class="size-full wp-image-2049 aligncenter lazy-load-active"
                                 src="~/Resources/Images/thietke1.jpg"
                                 style="width: 100%; height: auto;"
                                 data-src="~/Resources/Images/thietke1.jpg" alt="" width="600" height="400">
                        </p>
                        <p><em>Sửa nhà theo phong thỷ phòng ngủ để mang lại bình yên cho gia chủ</em></p>
                        <p>Phòng ngủ là nơi yên tĩnh, thoải mái để bạn nghỉ ngơi, thư giãn giúp cơ thể trở nên khỏe khoắn hơn. Các công ty xây dựng cần chú ý đến thiết kế cửa chính của phòng ngủ và cách kê giường trong phòng.</p>
                        <p>
                            Việc&nbsp;
                            <a href="https://xaydungsaoviet.com.vn/bao-gia-sua-chua-nha/"><strong>sửa chữa nhà</strong></a>&nbsp;theo phong thủy, đảm bảo phòng ngủ nên là hình vuông hoặc hình chữ nhật để tạo sự thoải mái hơn. Còn với các hình khôi khác thì không cân bằng được dòng chảy vào phòng.
                        </p>
                        <p>
                            <img decoding="async" loading="lazy" class="size-full wp-image-2050 aligncenter lazy-load-active"
                                 src="~/Resources/Images/thietke3.jpg"
                                 style="width: 100%; height: auto;"
                                 data-src="~/Resources/Images/thietke3.jpg" alt="">
                        </p>
                        <p><em>Cách kê giường theo phong thủy</em></p>
                        <p>Cách kê giường hợp lý là nên đặt dựa vào tường và chéo với cửa phòng đồng thời lối lên giường phải thuận lợi từ cả hai phía.</p>
                        <p>Phòng bếp</p>
                        <p>
                            <img decoding="async" loading="lazy" class="size-full wp-image-2046 aligncenter lazy-load-active"
                                 src="~/Resources/Images/thietke2.jpg"
                                 style="width: 100%; height: auto;"
                                 data-src="~/Resources/Images/thietke2.jpg" alt="">
                        </p>
                        <p><em>Bếp là nơi nấu nướng, lưu giữ thức ăn ảnh hưởng đến sức khỏe cả gia đình</em></p>
                        <p>Bếp là nơi nấu nướng cũng như lưu trữ thức ăn, thực phẩm cho cả gia đình nên nó sẽ ảnh hưởng đến sức khỏe của mọi người trong nhà. Vì thế, gia đình bạn cần phải giữ cho chúng thật sạch sẽ. Vì nếu xuất hiện năng lượng tiêu cực trong gian bếp sẽ dẫn tới tắc nghẽn về sự nghiệp, tiền bạc và sức khỏe.</p>
                        <p>
                            <img decoding="async" loading="lazy" class="size-full wp-image-2046 aligncenter lazy-load-active"
                                 src="~/Resources/Images/thietke3.jpg"
                                 data-src="~/Resources/Images/thietke3.jpg" alt="" >
                        </p>
                        <p><em>Không nên đặt bếp cạnh bồn rửa</em></p>
                        <p>
                            <a href="https://xaydungsaoviet.com.vn/sua-chua-nha-nang-tang-uy-tin-tai-tphcm/"><strong>Sửa nhà giá rẻ</strong></a>&nbsp;không nên đặt bếp và bồn rửa cạnh nhau vì lửa nước sẽ đụng độ. Bếp gia đình tốt nhất phải đặt trong nhà vì nó chính là đại diện cho một người phụ nữ giúp giữ lửa trong gia đình.
                        </p>
                        <p>Trên đây là cách thiết kế,&nbsp;<strong>sửa chữa nhà</strong>&nbsp;theo phong thủy giúp gia chủ luôn may mắn và thành công hơn. Nấu bạn có nhu cầu&nbsp;<strong>sửa chữa nhà TP. HCM</strong>&nbsp;thì hãy liên hệ với công ty uy tín để được tư vấn và thiết kế một căn nhà hợp phong thủy và hợp tính cách của bạn nhất.</p>
                        <div class="xem-them">
                            <span class="tieu-de-xem-them">Xem thêm:</span>
                            <ul>
                                <li>
                                    <a href="http://thietke2.giaodienwebmau.com/tu-van-phong-thuy-phong-ngu-cho-cap-vo-chong-moi-cuoi/">Tư vấn phong thủy phòng ngủ cho cặp vợ chồng mới cưới</a>
                                </li>
                                <li>
                                    <a href="http://thietke2.giaodienwebmau.com/mau-thiet-ke-nha-pho-ban-co-dien-quan-12/">Mẫu thiết kế nhà phố bán cổ điển quận 12</a>
                                </li>
                                <li>
                                    <a href="http://thietke2.giaodienwebmau.com/neu-ban-co-trong-tay-100-trieu-xay-nha-gi-hop-ly/">Nếu bạn có trong tay 100 triệu xây nhà gì hợp lý?</a>
                                </li>
                                <li>
                                    <a href="http://thietke2.giaodienwebmau.com/bao-gia-xay-nha-tron-goi-2020-tai-tphcm/">BÁO GIÁ XÂY NHÀ TRỌN GÓI 2020 TẠI TPHCM</a>
                                </li>
                                <li>
                                    <a href="http://thietke2.giaodienwebmau.com/trang-tri-nha-hop-phong-thuy-cho-nguoi-menh-kim/">Trang trí nhà hợp phong thủy cho người mệnh Kim</a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-share text-center"><div class="is-divider medium"></div><div class="social-icons share-icons share-row relative"><a href="whatsapp://send?text=S%E1%BB%ADa%20ch%E1%BB%AFa%20nh%C3%A0%20theo%20phong%20th%E1%BB%A7y%20gi%C3%BAp%20gia%20ch%E1%BB%A7%20g%E1%BA%B7p%20nhi%E1%BB%81u%20may%20m%E1%BA%AFn - http://thietke2.giaodienwebmau.com/sua-chua-nha-theo-phong-thuy-giup-gia-chu-gap-nhieu-may-man/" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium" title="Share on WhatsApp" aria-label="Share on WhatsApp"><i class="icon-whatsapp"></i></a><a href="https://www.facebook.com/sharer.php?u=http://thietke2.giaodienwebmau.com/sua-chua-nha-theo-phong-thuy-giup-gia-chu-gap-nhieu-may-man/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip facebook" title="Share on Facebook" aria-label="Share on Facebook"><i class="icon-facebook"></i></a><a href="https://twitter.com/share?url=http://thietke2.giaodienwebmau.com/sua-chua-nha-theo-phong-thuy-giup-gia-chu-gap-nhieu-may-man/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip twitter" title="Share on Twitter" aria-label="Share on Twitter"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=S%E1%BB%ADa%20ch%E1%BB%AFa%20nh%C3%A0%20theo%20phong%20th%E1%BB%A7y%20gi%C3%BAp%20gia%20ch%E1%BB%A7%20g%E1%BA%B7p%20nhi%E1%BB%81u%20may%20m%E1%BA%AFn&amp;body=Check%20this%20out:%20http://thietke2.giaodienwebmau.com/sua-chua-nha-theo-phong-thuy-giup-gia-chu-gap-nhieu-may-man/" rel="nofollow" class="icon button circle is-outline tooltip email" title="Email to a Friend" aria-label="Email to a Friend"><i class="icon-envelop"></i></a><a href="https://pinterest.com/pin/create/button/?url=http://thietke2.giaodienwebmau.com/sua-chua-nha-theo-phong-thuy-giup-gia-chu-gap-nhieu-may-man/&amp;media=http://thietke2.giaodienwebmau.com/wp-content/uploads/2020/04/05-16.gif&amp;description=S%E1%BB%ADa%20ch%E1%BB%AFa%20nh%C3%A0%20theo%20phong%20th%E1%BB%A7y%20gi%C3%BAp%20gia%20ch%E1%BB%A7%20g%E1%BA%B7p%20nhi%E1%BB%81u%20may%20m%E1%BA%AFn" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest" title="Pin on Pinterest" aria-label="Pin on Pinterest"><i class="icon-pinterest"></i></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://thietke2.giaodienwebmau.com/sua-chua-nha-theo-phong-thuy-giup-gia-chu-gap-nhieu-may-man/&amp;title=S%E1%BB%ADa%20ch%E1%BB%AFa%20nh%C3%A0%20theo%20phong%20th%E1%BB%A7y%20gi%C3%BAp%20gia%20ch%E1%BB%A7%20g%E1%BA%B7p%20nhi%E1%BB%81u%20may%20m%E1%BA%AFn" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin" title="Share on LinkedIn" aria-label="Share on LinkedIn"><i class="icon-linkedin"></i></a></div></div>
                    </div><!-- .entry-content2 -->
                    <footer class="entry-meta text-left">
                        <div class="danh-muc"><span class="title">Danh mục:</span>  <a href="http://thietke2.giaodienwebmau.com/phong-thuy/" rel="category tag">Phong thủy</a></div>
                    </footer><!-- .entry-meta -->
                    @Html.Partial("~/Views/Shared/Blog/_PartialBlogRelative.cshtml")
                    @*@Html.Partial("~/Views/Shared/Blog/_PartialBlogComment.cshtml")*@
                </div>
            </article>
        </div>
        <div class="col-4">
            @Html.Partial("~/Views/Shared/Navigator/_PartialRightNav.cshtml")
        </div>
    </div>
</div>

